@font-face {
    font-family: Roboto-Regular;
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto-Regular, Arial, Helvetica, sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
}

.header-hero, footer {
    background-color: #1F2937;
}

/* HEADER & HERO SECTION */

.header-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 82vh;
}

.header-hero .wrapper {
    display: flex;
    flex-direction: column;
    gap: 110px;
    width: 70%;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 18px;
}

header .header-logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight:900;
}

header ul {
    display: flex;
    flex-direction: row;
    gap: 18px;
}

li > a {
    color: #E5E7E5;
    opacity: 70%;
    padding-bottom: 3px;
    font-size: 18px;
}

li > a:hover {
    opacity: 100%;
    border-bottom: 1px solid #E5E7E5;

}


.hero-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.hero-content .hero-text {
    display: flex;
    flex-direction: column;
    width: 450px;
    gap: 10px;
}

.hero-text h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
}

.hero-text p {
    color: #E5E7E5;
    font-size: 18px;

}

.hero-text .sign-up {
    align-self: flex-start;
    background-color: #3882F6;
    color: #E5E7E5;
    font-weight: bolder;
    font-size: 16px;
    padding: 10px 30px;
    border-radius: 10px;
    outline: none;
    border:2px solid #3882F6;
}

.hero-text .sign-up:hover {
    background-color: #E5E7E5;
    color: #3882F6;
    border:2px solid #3882F6;
}

.placeholder-img {
    display: flex;
    align-items: center;
}

.placeholder-img img{
    height: auto;
    width: 450px;
    border-radius: 18px;
}

/* INFO CONTENT SECTION */

.info-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: 60vh;
    background-color: #F9FAF8;
}

.info-content h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.info-container {
    display: flex;
    flex-flow: row wrap;
    gap: 40px;
}

.info-container .info-item {
    width: 150px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.info-item img {
    height: 150px;
    width: 150px;
    outline: 4px solid #e2ae03;
    border-radius: 10px;
    padding: 8px;
}

