@font-face {
    font-family: Roboto-Regular;
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto-Regular, Arial, Helvetica, sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
}

.header-hero, footer {
    background-color: #1F2937;
}

/* HEADER & HERO SECTION */

.header-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.header-hero .wrapper {
    display: flex;
    flex-direction: column;
    gap: 110px;
    width: 70%;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 18px;
}

header .header-logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight:900;
}

header ul {
    display: flex;
    flex-direction: row;
    gap: 18px;
}

li > a {
    color: #E5E7E5;
    opacity: 70%;
    padding-bottom: 3px;
    font-size: 18px;
}

li > a:hover {
    opacity: 100%;
    border-bottom: 1px solid #E5E7E5;

}


.hero-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.hero-content .hero-text {
    display: flex;
    flex-direction: column;
    width: 450px;
    gap: 10px;
}

.hero-text h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
}

.hero-text p {
    color: #E5E7E5;
    font-size: 18px;

}

.hero-text .sign-up {
    align-self: flex-start;
    background-color: #3882F6;
    color: #E5E7E5;
    font-weight: bolder;
    font-size: 16px;
    padding: 10px 30px;
    border-radius: 10px;
    outline: none;
    border:2px solid #3882F6;
    transition: 0.3s;
}

.hero-text .sign-up:hover {
    background-color: #E5E7E5;
    color: #3882F6;
    border:2px solid #3882F6;
}

.placeholder-img {
    display: flex;
    align-items: center;
}

.placeholder-img img{
    height: auto;
    width: 450px;
    border-radius: 18px;
}

/* INFO CONTENT SECTION */

.info-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    min-height: 65vh;
    background-color: #FFFFFF;
    /* margin-top: 50px; */
}

.info-content h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.info-container {
    display: flex;
    flex-flow: row wrap;
    gap: 40px;
}

.info-container .info-item {
    width: 150px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.info-item img {
    height: 150px;
    width: 150px;
    outline: 4px solid #E2AE03;
    border-radius: 18px;
    padding: 8px;
}

/* QUOTE CONTENT SECTION */

.quote-content {
    background-color: #E5E7EB;
    min-height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.quote-content .quote-container{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 8px
}

.quote-container #quote {
    font-size: 36px;
    color: #1F2937;
    font-weight: lighter;
}

.quote-container #speaker {
    text-align: right;
    color: #1F2937;
    font-size: 24px;
    font-weight: bolder;
}

/* CONTACT CONTENT SECTION */

.contact-content {
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-container {
    background-color: #3882F6;
    color: #E5E7E5;
    padding: 60px 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    width: 75%;
    border-radius: 8px;

}

.contact-item h3 {
    font-size: 24px;
}

.contact-item p {
    font-size: 18px;
}

.contact-item button {
    outline: none;
    border: 2px solid #E5E7E5;
    color: #E5E7E5;
    background-color: #3882F6;
    font-size: 16px;
    padding: 6px 32px;
    border-radius: 8px;
    font-weight: bold;
}



/* FOOTER CONTENT SECTION */

.footer-content {
    min-height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content p {
    font-size: 18px;
    color: #E5E7EB;
}